@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$primary-font: "Open Sans", sans-serif;
$primary-color: #014139;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

:root {
  --swiper-pagination-color: #014139; /* Active bullet color */
  --swiper-pagination-bullet-inactive-color: #999999; /* Inactive bullet color */
  --swiper-pagination-bullet-inactive-opacity: 0.5; /* Inactive bullet opacity */
  /* Other pagination related variables can also be customized */
}

html,
body {
  overflow-y: scroll !important;
  height: 100%;
  width: 100%;
  overflow-x: hidden; // prevents horizontal scroll
}

a {
  text-decoration: none;
  color: #2f3134;
}

// Default Typographies

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1rem;
}

h1.slider-header {
  font-size: 65px;
}

.text-primary {
  color: $primary-color !important;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-primary {
  background-color: $primary-color !important;
  color: white !important;
  border: none !important;
  width: 150px;

  &:hover {
    background-color: black !important;
    color: white !important;
    border: none !important;
  }
}

.btn-cart {
  background-color: $primary-color !important;
  color: white;
  font-size: 14px;
  padding: 10px;
  border-radius: 0;
  &:hover {
    color: white !important;
    background-color: black !important;
  }
}

.ShowMoreButton {
  background: none !important;
  border: 1px solid $primary-color !important;
  color: $primary-color !important;
  font-weight: bold !important;
  width: 250px;
  overflow-y: hidden;
  span {
    display: inline-block;
    position: relative;
    transition: transform 0.4s ease;
  }
  &:hover {
    background-color: $primary-color !important;
    color: white !important;
    span {
      animation: movedownup 0.2s ease-in-out;
    }
  }
}

@keyframes movedownup {
  0%{
    transform: translateY(0px);
  }
  10%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(0px);
  }
}

.border-right {
  border-right: 1px solid #dee2e6;
}

.bg-primary {
  background-color: $primary-color !important;
}

.bg-overlay {
  position: absolute;
  background: linear-gradient(
    rgba(1, 65, 57, 0.3),
    // top (70% opacity)
    rgba(1, 65, 57, 0.1) // bottom (30% opacity)
  );
  z-index: 0;
  width: 100%;
  height: 100%;
}
