$primary-color: #014139;

.top-bar {
  height: 50px;
  background-color: $primary-color;
}

// Main Slider CSS

.MainSlider {
  height: 600px;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  img {
    width: 100%;
    height: 100%;
  }
}

// Category Section

.CategoryBox {
  &:hover {
    color: $primary-color;
  }
}

// Product Slider CSS

.ProductSlider {
  .swiper {
    .swiper-slide {
      transition: 0.2s ease !important;
      cursor: pointer;

      .OptionSec {
        display: none !important;
        transition: 0.2s ease !important;
      }

      &:hover {
        transform: scale(1.1);
        padding: 8px 24px !important;
        // Here I visibled parent div overflow when hover using use states.
        .line-clamp-3 {
          -webkit-line-clamp: unset !important;
        }
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        .OptionSec {
          display: flex !important;
        }
      }
    }
  }
}

